{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/ui-kit.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="header">
        <span class="logo">ПеКа</span>
        <div class="menu">
            <nav class="nav-menu">
                <ul class="nav-menu__list">
                    <li><a href="{% url 'products' %}">Товары</a></li>
                    <li><a href="{% url 'basket' %}">Корзина</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-menu__profile"><a href="{% url 'profile' %}"><img class="nav-menu__profile-icon" src="{% static 'icons/profile.png' %}" alt="profile"></a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p><small>© 2024, Все права защищены</small></p>
    </footer>
</body>
</html>