.search-container {
    margin-bottom: 2em;
}

.search-form__input_container {
    width: 100%;
    display: block;
}

.search-form__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.1em 0.5em;
}

.search-icon {
    height: 1em;
    width: 1em;
} 

.product-list {
    margin: 0 auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2em;
    flex-wrap: wrap;
}

.product-card {
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.product-card__link {
    margin: 0 auto;
}

.product-card__prices-container {
    height: 2em;
}

.product-card_disabled {
    opacity: 0.5;
}

.product-card__image {
    margin: 0 auto;
    display: block;
    object-fit: contain;
    width: 140px;
    height: 140px;
}

.product-card__original-price {
    text-decoration: line-through;
}

.products_page__horizonal_line {
    margin: 1em 0;
    border: 1px solid rgb(160, 160, 160);
    height: 1px;
}
