.button {
    font: inherit;
    border-radius: 0.3em;
    display: block;
    padding: 0.3em;
    border: 1px solid black;
    text-align: center;
}

.button:disabled {
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: default;
}

.input-group {
    display: block;
    width: 100%;
}

.input, .input-group input {
    width: 100%;
    display: block;
    border-radius: 0.3em;
    border: 1px solid black;
    padding: 0.2em 0.3em;
}

.complex-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 0.3em;
    border: 1px solid black;
}

.complex-input input {
    background-color: transparent;
    border: none;
    width: 100%;
    display: block;
    border-radius: 0;
    padding: 0.2em 0.3em;
}

.label + .input, .input-group label + input {
    margin-top: 0.2em;
}

.label, .input-group label {
    display: block;
}

.link:hover {
    text-decoration: underline;
}
