.button {
    font: inherit;
    border-radius: 0.3em;
    display: block;
    padding: 0.3em;
    border: 1px solid black;
    text-align: center;
}

.input {
    display: block;
    border-radius: 0.3em;
    border: 1px solid black;
    padding: 0.3em;
}

.input-group input {
    display: block;
    border-radius: 0.3em;
    border: 1px solid black;
}

.input-group label {
    display: block;
}