{% extends 'base.html' %}
{% load static %}

{% block head %}

<title>Товары</title>
<link rel="stylesheet" href="{% static 'styles/products.css' %}">

{% endblock %}

{% block content %}

<ul class="product-list">
    <!-- li*5>div.product-card>h2.product-card__title+p.product-card__text
     -->
    {% for product in products %}
    <li>
        <div 
            class="
                product-card
                {% if product.count < 1 %}product-card_disabled{% endif %}
            "
        >

            <img 
                class="product-card__image" 
                src="{% if product.image.url is not None %}{{ product.image.url }}{% endif %}" 
                alt="{{ product.title }}"
            />
            <h2 class="product-card__title">{{ product.title }}</h2>
            <p class="product-card__text">{{ product.description }}</p>
            <div class="product-card__prices-container">
            {% if product.original_price is not None %}
            <p class="product-card__original-price">{{ product.original_price }}</p>
            {% endif %}
            <p class="product-card__price">{{ product.price }}</p>
            </div>
            
            <a href="/product/1" class="product-card__link">Подробнее</a>
        </div>
    </li>
    {% endfor %}

</ul>

{% endblock %}
