{% extends 'base.html' %}
{% load static %}

{% block head %}

<title>{{ product.title }}</title>
<link rel="stylesheet" href="{% static 'styles/product.css' %}">

{% endblock %}

{% block content %}

<div class="product-container">
    <img src="{% if product.image.url is not None %}{{ product.image.url }}{% endif %}" alt="">
    <div class="product__info">
        <h1 class="product__title">{{ product.title }}</h1>
        <div class="product__price-container">
            {% if product.original_price is not None %}
            <h2 class="product__field product__prices-heading">Цена:</h2>
            <p class="product__field"><span class="product__original-price">{{ product.original_price }}</span></p>
            {% endif %}
            <p class="product__field"><span class="product__price">{{ product.price }}</span></p>
        </div>
        <form action="{% url 'add_to_basket' product.id %}" class="product__add-to-basket-form">
            <button 
                type="submit"
                class="product__add-to-basket-button"
                {% if product.count < 1 %}disabled{% endif %}
            >
                В корзину
            </button>
        </form>
        <p class="product__field"><span class="product__description">{{ product.description }}</span></p>
    </div>
</div>

{% endblock %}
